body{
    text-align: center;
    background-image: url(../img/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}



.button{
    text-align: center;
    margin: 200px auto;
    width: 209px;
    height: 64px;
    left: 64px;
    top: 512px;
    background: linear-gradient(90deg, #F06415 0%, #FF9900 100%);
    border-radius: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}