body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 100px auto;
}

div{
    margin-bottom: 30px;
    color: rgb(113, 40, 173);
    font-weight: bold;
}
.submit{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color:  rgb(113, 40, 173);
    border: none;
    height: 30px;;
    width: 80px;
}

.input{
    border: 1px solid  rgb(113, 40, 173);
}