body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 100px auto;
    background: rgb(213, 227, 244);
}
/* 
div{
    margin-bottom: 30px;
    color: rgb(113, 40, 173);
    font-weight: bold;
}
.submit{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color:  rgb(113, 40, 173);
    border: none;
    height: 30px;;
    width: 80px;
}

.input{
    border: 1px solid  rgb(113, 40, 173);
}

.select{
    border: 1px solid  rgb(113, 40, 173);
    color:  rgb(113, 40, 173);
} */

.input-container{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input-container--checkbox{
    display: flex;
    margin-bottom: 20px;
}

/* .errorMessage{
    color: #f00;
    text-align: left;
} */


.input:focus{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.input{
    margin-bottom: 10px;
}


.input[data-invalid] {
    border-color: #f00;
}

.input-label{
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}


.errorMessage{
    position: absolute;
    bottom: -10px;
    font-size: 14px;
    left: 8px;
    color: #f00;
}


.button{
    font-size: 20px;
    padding: 8px;
    font-weight: 500;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:disabled{
    background-color: blueviolet;
    cursor: not-allowed;
}